<aside class="portfolio-card">

  <main class="main">
    <div class="inner">
    ---------------------------------------
      <h1 class="page-heading">制作物一覧</h1>
    ---------------------------------------
      <div class="card__wrapper">
        <div class="card">
          <%= link_to image_tag("furima-logo.png", class:"card__img"),"https://furima-36883-new.herokuapp.com/" %>
          <div class="card__body">
            <h2 class="card__title">FURIMA(フリマ)</h2>
            <p class="card__summary">
              ID：doraco 、Pass：1111<br>
              ＜テックキャンプ課題制作＞<br>
              商品の出品・表示・編集・削除・購入<br>
              などを行うフリーマーケットアプリ
            </p>
          </div>
        </div>
        <div class="card">
          <%= link_to image_tag("gjden-logo.png", class:"card__img"),"https://gjden1111.herokuapp.com/" %>
          <div class="card__body">
            <h2 class="card__title">Gjden(ジジデン)</h2>
            <p class="card__summary">
            ID：admin 、PASS：2525<br>
            ＜予約管理アプリ＞<br>
            社内用のお客様情報確認ツール<br>
            MAIL：sasaki@test、PASS：111aaa<br>
            <a href="https://github.com/rieco-y/gjden/blob/master/README.md" class="readme">README</a>
            </p>
          </div>
        </div>
        <div class="card">
          <%= image_tag "image.png", class: "card__img" %>
          <div class="card__body">
            <h2 class="card__title">準備中</h2>
            <p class="card__summary">
              アプリのURL、コンセプト
            </p>
          </div>
        </div>
        <div class="card">
          <%= image_tag "image.png", class: "card__img" %>
          <div class="card__body">
            <h2 class="card__title">準備中</h2>
            <p class="card__summary">
              アプリのURL、コンセプト
            </p>
          </div>
        </div>
        <div class="card">
          <%= image_tag "image.png", class: "card__img" %>
          <div class="card__body">
            <h2 class="card__title">準備中</h2>
            <p class="card__summary">
              アプリのURL、コンセプト
            </p>
          </div>
        </div>
        <div class="card">
          <%= image_tag "image.png", class: "card__img" %>
          <div class="card__body">
            <h2 class="card__title">準備中</h2>
            <p class="card__summary">
              アプリのURL、コンセプト
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>


</aside>