<aside class="portfolio-card">

  <main class="main">
    <div class="inner">
    ---------------------------------------
      <h1 class="page-heading">制作物一覧</h1>
    ---------------------------------------
      <div class="card__wrapper">
        <div class="card">
          <%= image_tag "furima-logo.png", class: "card__img" %>
          <div class="card__body">
            <h2 class="card__title">FURIMA(フリマ)</h2>
            <p class="card__summary">
              アプリのURL、コンセプト
            </p>
          </div>
        </div>
        <div class="card">
          <%= image_tag "gjden-logo.png", class: "card__img" %>
          <div class="card__body">
            <h2 class="card__title">Gjjden(ジジデン)</h2>
            <p class="card__summary">
              アプリのURL、コンセプト
            </p>
          </div>
        </div>
        <div class="card">
          <%= image_tag "image.png", class: "card__img" %>
          <div class="card__body">
            <h2 class="card__title">準備中</h2>
            <p class="card__summary">
              アプリのURL、コンセプト
            </p>
          </div>
        </div>
        <div class="card">
          <%= image_tag "image.png", class: "card__img" %>
          <div class="card__body">
            <h2 class="card__title">準備中</h2>
            <p class="card__summary">
              アプリのURL、コンセプト
            </p>
          </div>
        </div>
        <div class="card">
          <%= image_tag "image.png", class: "card__img" %>
          <div class="card__body">
            <h2 class="card__title">準備中</h2>
            <p class="card__summary">
              アプリのURL、コンセプト
            </p>
          </div>
        </div>
        <div class="card">
          <%= image_tag "image.png", class: "card__img" %>
          <div class="card__body">
            <h2 class="card__title">準備中</h2>
            <p class="card__summary">
              アプリのURL、コンセプト
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>


</aside>